body{
display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
justify-content: flex-end;
background-color: #E2FFA8;
font-align: center;
}
#header{
width: 75%;
}
#footer{
width:100%;
}
#nav, #header, #footer, .contenantItem, .wrapper {
border-style: solid;
border-color: black;
border-width: 3px;
margin: 5px;
margin-top:15px;
padding : 10px;
background-color: #7da6fe;
border-radius: 25px;
}
#logo{
height: 180px;
}

#nav {
flex: 10%;
flex-wrap: wrap;
display: flex;
flex-direction: row;
justify-content: space-evenly;
width:120px;
}
.mainContenu {
flex: 90%;
}

.wrapper{
flex:1;
}

.contenant {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
h1{
font-size: 60px;
}
h2{
font-size: 30px;
}
h3{
font-size: 25px;
}