body{
}
#footer{
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 20px;
}
#zen-supporting{
display: flex;
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 20px;
width: 60%
}
#nav{
display: flex;
justify-content: flex-start;
}
#zen-intro{
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 20px;
display: flex;
}
.sidebar{
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 20px;
display: flex;
width:20%;
}